.header {
  background: #fff;
  box-shadow: 0 4px 6px #0000000d;
  height: 60px;
  align-items: center;
  width: 100%;
  min-width: 1000px;
  display: flex;
  align-items: center;
  .menu {
    .ant-menu-horizontal {
      border-bottom: none;
    }
  }
}
